

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link href="{% static '/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static '/css/app.css' %}" rel="stylesheet">
    <script src="https://kit.fontawesome.com/74db917412.js" crossorigin="anonymous"></script>
    <script defer src="{% static '/js/activePage.js' %}" ></script>
    <title>
        {% block title %}
        {%  endblock  %}
        | Cafeteria
    </title>
</head>
<body class="bg-white">
    <nav class="navbar navbar-expand-lg navbar-light bg-primary">
        <div class="container-fluid">
          <a class="navbar-brand text-white" href="{% url 'index' %}">Espresso Inacap</a>
          <button class="navbar-toggler bg-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link inicio text-secondary" href="{% url 'index' %}">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-secondary " href="{% url 'productos' %}">Productos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-secondary" href="{% url 'blog' %}">Blog</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-secondary" href="{% url 'contacto' %}">Contacto</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-secondary" href="{% url 'siguenos' %}">Siguenos</a>
              </li>
              
            </ul>
            <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
              <button class="btn btn-outline-light" type="submit">Buscar</button>
            </form>
          </div>
        </div>
      </nav>

         
      <header class="bg-dark">
        <div class="hero"></div>

      </header>
      

      <div class="p-3">
        <div class="container-sm mt-3 mb-3 bg-dark rounded justify-content-center" id="content">
          <div class="text-center min-vh-80 p-3" >
            

            {% block content %}
                 
              {% endblock %}
  
          </div>
  
          
          
  
        </div>

      </div>
      

      

      
      <footer class="bg-dark text-center text-lg-start">
       
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
          
          <a class="text-white text-decoration-none">Emerio Suarez</a>
          
        </div>
        
      </footer>
        
      

      <script src="{% static '/js/bootstrap.bundle.min.js' %}"></script>
     
    
</body>
</html>