{% extends '../layouts/base.html' %}

{% load static %}

{% block title %}
Mocaccino
{% endblock  %}


{% block content %}

<h1 class="text-secondary"> {{title}} </h1>

<section class="container-xl">

    <div class="row mt-5 gx-5">
        <main class="col order-1 order-md-0">
            <article class="mb-2 pb-5">
               
                <img class="img-fluid " src="{% static '/images/cafe6.webp' %}" alt="imagen blog">

                <div class="d-flex flex-column flex-md-row justify-content-md-between py-4">
                    <p class="fw-bold text-secondary">Fecha: 
                        <span class="text-white">15 de Septiembre de 2022</span> 
                    </p>
                    <p class="fw-bold text-secondary">Escrito por: 
                        <span class=" text-white">Emerio Suarez</span> 
                    </p>
                </div>

                <p class="text-white">El café moca toma su nombre de la ciudad costera del mar Rojo de Moca, que ya en el siglo XV era una importante exportadora de café procedente en gran medida de Abisinia (región de Kaffa), especialmente a regiones de la península arábiga. Se llama también moca a un tipo de grano de café procedente de esta ciudad y que recuerda al cacao, de donde puede venir la asociación con el chocolate y el desarrollo de la bebida de expreso y chocolate. En algunos lugares de Europa el «café moca» puede ser esta bebida o simplemente el café elaborado con granos moca. ....</p>

                
            </article>
        </main>
    </div>
</section>

{% endblock %}