{% extends 'base.html' %}

{% load static %}



{% block content %}
<h1 class="">{{title}}</h1>

<div class="container-fluid d-flex flex-column flex-md-row gap-2 justify-content-md-center align-items-center"> 
{% for producto in productos %}
<div class="card" style="width: 18rem;">
    <img src="{% static '/images/header_proceso.webp' %} " class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{producto.name}}</h5>
      <p class="card-text">{{producto.precio}}</p>
      <p class="card-text">{{producto.descripcion}} </p>
      <a href="#" class="btn btn-danger">Agregar al Carrito</a>
      
    </div>
</div>  
{% endfor %}

</div>




{% endblock  %}